* {
	/*color: #FEFEFE;*/
}

body {
	background: #60627D;
}

header {
	background: #32356B;
	box-shadow: 0 1px 10px #3F4052; 
}

.logo h1 {
	text-shadow: none;
	color: #FEFEFE;
}

.text_content {
	color: #32356B
}

footer {
	color: #FEFEFE;
}