body {
	background: #60627D;
}

.load {
	background: rgba(50, 53, 107, 1);
	color: #FEFEFE;
}

@keyframes load-bg {
  90% {
  	background: rgba(50, 53, 107, 1);
  }
  100% {
	background: rgba(50, 53, 107, 0);
  }
}

header {
	background: #32356B;
	box-shadow: 0 1px 10px #3F4052; 
}

.logo h1 {
	text-shadow: none;
	color: #FEFEFE;
}

.navbutton a {
  color: #FEFEFE;
}
.navbutton a:hover {
  background-color: #FEFEFE;
  color: #32356B;
}

.theme {
	color: #FEFEFE;
}

.text_content {
	color: #FEFEFE;
	background: #32356B;
}

.text_content .item img {
	filter: invert(1);
}

footer {
	color: #FEFEFE;
}