body {
	background: #60627D;
}

.load {
	background: rgba(50, 53, 107, 1);
	color: #FEFEFE;
}

header {
	background: #32356B; 
}

.logo h1 {
	text-shadow: none;
	color: #FEFEFE;
}

.navbutton a {
  color: #FEFEFE;
}
.navbutton a:hover {
  background-color: #FEFEFE;
  color: #32356B;
}

.theme {
	color: #FEFEFE;
}

.text_content {
	color: #FEFEFE;
	background: #32356B;
}

.text_content .item img {
	filter: invert(1);
}
.item {
	color: #000;
	text-shadow: 
		-0   -2px 0 #FEFEFE,
		 0   -2px 0 #FEFEFE,
		-0    2px 0 #FEFEFE,
		 0    2px 0 #FEFEFE,
		-2px -0   0 #FEFEFE,
		 2px -0   0 #FEFEFE,
		-2px  0   0 #FEFEFE,
		 2px  0   0 #FEFEFE,
		-1px -2px 0 #FEFEFE,
		 1px -2px 0 #FEFEFE,
		-1px  2px 0 #FEFEFE,
		 1px  2px 0 #FEFEFE,
		-2px -1px 0 #FEFEFE,
		 2px -1px 0 #FEFEFE,
		-2px  1px 0 #FEFEFE,
		 2px  1px 0 #FEFEFE,
		-2px -2px 0 #FEFEFE,
		 2px -2px 0 #FEFEFE,
		-2px  2px 0 #FEFEFE,
		 2px  2px 0 #FEFEFE,
		-2px -2px 0 #FEFEFE,
		 2px -2px 0 #FEFEFE,
		-2px  2px 0 #FEFEFE,
		 2px  2px 0 #FEFEFE;
}
.bh:hover {
	background: #32356B;
	color: #FEFEFE;
}

footer {
	color: #FEFEFE;
}