.load {
	background: rgba(254, 254, 254, 1);
}

@keyframes load-bg {
  90% {
  	background: rgba(254, 254, 254, 1);
  }
  100% {
	background: rgba(254, 254, 254, 0);
  }
}

#white {
	color: #000
}
#red {
	color: #000
}
#blue {
	color: #000
}